body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

nav {
    background-color: #333;
    color: white;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

h1 {
    color: #333;
}

form {
    background-color: white;
    padding: 2em;
    margin: 2em auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
}

label {
    display: block;
    margin-bottom: 0.5em;
    font-weight: bold;
}

input, textarea, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

table {
    width: 80%;
    margin: 2em auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 1em;
    text-align: left;
}

th {
    background-color: #333;
    color: white;
}

.pagination {
    text-align: center;
    margin-top: 2em;
}

.pagination button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    margin: 0 5px;
}

.pagination button:hover {
    background-color: #555;
}

#required_features {
    height: 170px; /* 높이를 원하는 크기로 조정하세요 */
}
#optional_features {
    height: 170px; /* 높이를 원하는 크기로 조정하세요 */
}

/* 선택 상자 스타일 */
select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px 12px;
    font-size: 16px;
    color: #333;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" class="bi bi-chevron-down" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 16px 16px;
    cursor: pointer;
}

/* 선택 상자 컨테이너 스타일 (더 깔끔하게) */
.select-container {
    position: relative;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

select::-ms-expand {
    display: none; /* Remove default arrow in IE */
}
