<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}My FastAPI App{% endblock %}</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <nav>
        <ul style="text-align: center;">
            <li><a href="/">상품 등록</a></li>
            <li><a href="/reviews">리뷰 생성</a></li>
            <li><a href="/products/view">상품 목록</a></li>
        </ul>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
